<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>account</title>
    <link rel="stylesheet" href="/auth.css">
</head>
<body>
<form method="post" name="m" action="/process_login">
    <p>your account</p>
    <input class="box" type="text" placeholder="Username" id="username" name="username"/>
    <br/>
    <input class="box" type="password" placeholder="Password" id="password" name="password"/>
    <div>
        <a class="link" href="/auth/register">Crate account</a>
    </div>
    <br/>
    <input class="button" type="submit" value="Enter">
</form>
</body>
</html>